<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Destinos 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="Busqueda"     (ionInput)="manejoInput($event)">Busqueda</ion-searchbar>
<ion-item *ngFor="let destino of lugares">
  <ion-thumbnail>
    <img [src]="destino.destinoImagen || destino.imagen" *ngIf="destino.destinoImagen || destino.imagen" />
  </ion-thumbnail>

  <label id="destinosTexto">
    <h2>{{ destino.name }}</h2>
    <p>{{ destino.country | uppercase}}</p>
  </label>

  <ion-buttons slot="end" class="horizontal-icons">
    <ion-button (click)="gestionDestino(destino)">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-content *ngIf="lugaresGuardados.length > 0">
  <ion-list>
    <ion-item *ngFor="let destino of lugaresGuardados">

      <ion-buttons slot="end" class="horizontal-icons">
        <ion-button (click)="gestionDestino(destino)">
          <ion-icon name="airplane-outline" ion-text></ion-icon>
        </ion-button>      
        
        <ion-button (click)="capturarFoto()">
          <ion-icon name="camera-outline" ion-text></ion-icon>
        </ion-button>
  
        <ion-button (click)="eliminarDestino(destino)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>          
      </ion-buttons> 
    </ion-item> 
